<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>销售机会管理</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            销售机会管理 <i class="fa fa-chance"></i>
                            <small>
                                - 您可以通过搜索或者其他的筛选项对用户的信息进行编辑、删除等管理操作。^_^
                            </small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                    </div>
                    <a href="/chance/add" th:href="@{/activity/add}"
                       class="btn btn-success btn-sm">新增用户信息</a>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
            <div class="row">
                <div class="col-sm-12">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="atvCustName"> 客户名称 <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input id="atvCustName" class="form-control col-md-7 col-xs-12"
                                   data-validate-length-range="10" data-validate-words="1" name="atvCustName" required="required"
                                   placeholder="请输入客户名称" type="text" readonly="readonly" th:value="${atvCustName}">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="atvCustNo"> 客户编号 <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input id="atvCustNo" class="form-control col-md-7 col-xs-12"
                                   data-validate-length-range="10" data-validate-words="1" name="atvCustNo" required="required"
                                   placeholder="请输入客户名称" type="text" readonly="readonly" th:value="${atvCustNo}">
                        </div>
                    </div>
                </div>
            </div>
                </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30"></p>
                        <div id="datatable-responsive_wrapper"
                             class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatable-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                                           cellspacing="0" width="100%" role="grid"
                                           aria-describedby="datatable-responsive_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="First name: activate to sort column descending"
                                                aria-sort="ascending">时间
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                地点
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                详细信息
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                备注
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd" th:each="lin:${lin}">
                                            <td tabindex="0" class="sorting_1" th:text="${lin.atvDate}">chcId</td>
                                            <td th:text="${lin.atvPlace}">chcCustName</td>
                                            <td th:text="${lin.atvTitle}">chcLinkman</td>
                                            <td th:text="${lin.atvDesc}">chcTel</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-danger">点击操作</button>
                                                    <button type="button" class="btn btn-danger dropdown-toggle"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a class="editInfo" href="/chance/edit?usrId=1" th:href="@{/activity/edit(atvId=${lin.atvId})}"
                                                               data-toggle="tooltip" data-placement="top" title=""
                                                               data-original-title="编辑">编辑</a></li>
                                                        <li><a class="delInfo" id="del" href="#" th:onclick="|doDel(this,${lin.atvId})|"
                                                               data-toggle="tooltip" data-placement="top" title=""
                                                               data-original-title="删除">删除</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script layout:fragment="js">

    $(document).ready(function(){
        $("#back").on("click",function(){
            window.history.back();
        });
    });

    function doDel(obj,atvId){
        if(confirm("你确定需要删除该联系吗？")){
            $.ajax({
                type:"GET",
                url:"/activity/del",
                data:"atvId="+atvId,
                dataType:"json",
                success:function(data){
                    if(data.delResult == "true"){//删除成功：移除删除行e
                        alert("删除成功");
                        $(obj).parents("tr").remove();
                    }
                },
                error:function(data){
                    alert("对不起，删除失败");
                }
            });
        }
    }
</script>
</html>