<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>客户信息管理</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            客户信息管理 <i class="fa fa-customer"></i>
                            <small>
                                - 您可以通过搜索或者其他的筛选项对客户的信息进行编辑、删除等管理操作。^_^
                            </small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="post" action="/customer/list" th:action="@{/customer/list}">
                            <input type="hidden" name="pageIndex" value="1"/>
                            <ul>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">客户名称</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="custName" type="text" th:value="${custName}"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">客户编号</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="custNo" type="text" th:value="${custNo}"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>
                            <br/>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">负责人</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="custManagerName" type="text" th:value="${custManagerName}"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">客户等级</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="dictItem" id="dictItem" class="form-control">
                                                <option value="">--请选择--</option>
                                                <option th:selected="${dict.dictItem eq dictItem}" th:each="dict:${dicts}" th:value="${dict.dictItem}" th:text="${dict.dictItem}" value="">客户等级</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">地区</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select name="dictItem2" id="dictItem2" class="form-control">
                                                    <option value="">--请选择--</option>
                                                    <option th:selected="${dictb.dictItem eq dictItem2}" th:each="dictb:${dictb}" th:value="${dictb.dictItem}" th:text="${dictb.dictItem}" value="">地区</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <button type="submit" class="btn btn-primary"> 查 &nbsp;&nbsp;&nbsp;&nbsp;询</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30"></p>
                        <div id="datatable-responsive_wrapper"
                             class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/li" th:href="@{/li}"
                                       class="btn btn-success btn-sm">123</a>
                                    <table id="datatable-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                                           cellspacing="0" width="100%" role="grid"
                                           aria-describedby="datatable-responsive_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="First name: activate to sort column descending"
                                                aria-sort="ascending">序号
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                客户名称
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                客户编号
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                地区
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                客户经理/负责人
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                客户等级
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd" th:each="customer:${cusPager.content}">
                                            <td tabindex="0" class="sorting_1" th:text="${customer.custId}">custId</td>
                                            <td th:text="${customer.custName}">custName</td>
                                            <td th:text="${customer.custNo}">custNo</td>
                                            <td th:text="${customer.custRegion}">custNo</td>
                                            <td th:text="${customer.custManagerName}">custNo</td>
                                            <td th:text="${customer.custLevelLabel}">custNo</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-danger">点击操作</button>
                                                    <button type="button" class="btn btn-danger dropdown-toggle"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a class="editInfo" href="/customer/edit?usrId=1" th:href="@{/customer/edit(custId=${customer.custId})}"
                                                               data-toggle="tooltip" data-placement="top" title=""
                                                               data-original-title="编辑">编辑</a></li>
                                                        <li><a class="editInfo" href="/customer/tel?custNo=1" th:href="@{/customer/tel(custNo=${customer.custNo})}"
                                                               data-toggle="tooltip" data-placement="top" title=""
                                                               data-original-title="编辑">联系人</a></li>
                                                        <li><a class="editInfo" href="/customer/edit?usrId=1" th:href="@{/customer/activity(custNo=${customer.custNo})}"
                                                               data-toggle="tooltip" data-placement="top" title=""
                                                               data-original-title="编辑">交往记录</a></li>
                                                        <li><a class="editInfo" href="/customer/edit?usrId=1"th:href="@{/customer/orders(custNo=${customer.custNo})}"
                                                               data-toggle="tooltip" data-placement="top" title=""
                                                               data-original-title="编辑">历史订单</a></li>
                                                        <li><a class="delInfo" id="del" href="#" th:onclick="|doDel(this,${customer.custId})|"
                                                               data-toggle="tooltip" data-placement="top" title=""
                                                               data-original-title="删除">删除</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--分页start-->
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="datatable-responsive_info" role="status" aria-live="polite">共
                                    <span th:text="${cusPager.totalElements}">1</span>条记录
                                    <span th:text="${cusPager.number+1}">1</span>/<span th:text="${cusPager.totalPages}">1</span>
                                    页</div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="datatable-responsive_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button previous" th:if="${cusPager.number gt 0}">
                                            <a href="javascript:page_nav(document.forms[0],1);"
                                               aria-controls="datatable-responsive"
                                               data-dt-idx="0" tabindex="0">首页</a>
                                        </li>
                                        <li class="paginate_button" th:if="${cusPager.number gt 0}">
                                            <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${cusPager.number}+');'"
                                               aria-controls="datatable-responsive" data-dt-idx="1" tabindex="0">
                                                上一页
                                            </a>
                                        </li>
                                        <li class="paginate_button" th:if="${(cusPager.number+1) lt cusPager.totalPages}">
                                            <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${cusPager.number+2}+');'"
                                               aria-controls="datatable-responsive" data-dt-idx="1" tabindex="0">
                                                下一页
                                            </a>
                                        </li>
                                        <li class="paginate_button next" th:if="${(cusPager.number+1) lt cusPager.totalPages}">
                                            <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${cusPager.totalPages}+');'"
                                               aria-controls="datatable-responsive" data-dt-idx="7" tabindex="0">最后一页</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--分页end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="js">
    function doDel(obj,usrId){
        if(confirm("你确定需要删除该用户信息吗？")){
            $.ajax({
                type:"GET",
                url:"/customer/del",
                data:"custId="+usrId,
                dataType:"json",
                success:function(data){
                    if(data.delResult == "true"){//删除成功：移除删除行e
                        alert("删除成功");
                        $(obj).parents("tr").remove();
                    }
                },
                error:function(data){
                    alert("对不起，删除失败");
                }
            });
        }
    }
</script>
</html>